<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#"><i class="fa fa-home"></i> Home</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Course Revision System</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" v-on:click="logout" > <img src="../assets/default.jpg" width="26dp" height="auto" style="border-radius: 50%"/> Sign Out</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2" style="color: black">
                    <nav class="nav navbar-light navbar-toggleable-sm">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarWEX" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse flex-column mt-md-0 mt-4 pt-md-0 pt-4" id="navbarWEX">
                            <a class="nav-link navbar-brand active" href="~/Views/Forms/ControlPanel.cshtml"><span class="fa fa-home"></span></a>
                            <a class="nav-link"><router-link to="/dashboard">Courses</router-link></a>
                            <a href="" class="nav-link"><router-link to="/courses">Edit Courses</router-link></a>
                            <a href="" class="nav-link"><router-link to="/addcourse">Add Course</router-link></a>
                            <a href="" class="nav-link"><router-link to="/add_unit">Add Unit</router-link></a>
                            <a href="" class="nav-link"><router-link to="/feedback">FeedBack</router-link></a>
                            <a href="" class="nav-link">Reports and Complains</a>
                        </div>
                    </nav>
                </div>
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h4> Home</h4>
                        </div>
                        <div  class="panel-body">
                            <div >
                                <h5>Feed Back messages from app users</h5>
                                <table class="table table-stripped">
                                    <thead >
                                    <th>Message</th>
                                    </thead>
                                    <tbody >
                                    <tr  v-for="feed in feedback">
                                        <td>{{feed}}</td>
                                        <td><i class="far fa-star"></i></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import  firebase from 'firebase'
    import Vue from 'vue'
    export default {
        mounted: function(){
            let arrays=[]
            firebase.database().ref('feedback').on('value',function (response) {
                response.forEach(function (item) {
                    arrays.push(item.val().message)
                })
            })
            this.feedback=arrays
        },
        data(){
            return{
                feedback: []

            }
        },
        methods:{
            logout: function () {
                firebase.auth().signOut();
                this.$router.replace('login')


            }
        }


    }
</script>