<template>
     <div class="container">
         <div class="row">
             <div class="col-lg-3">

             </div>
             <div class="col-lg-6" style="background-color: whitesmoke; margin-top: 10%; border-radius: 5%">
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h5>Revise <span style="color: fuchsia; font-style: italic">Admin</span> Login</h5>
                     </div>
                     <div class="panel-body">
                             <div class="form-group">
                                 <label for="email"><i class="fas fa-envelope-square"></i>Email</label>
                                 <input type="email" v-model="email" class="form-control"  placeholder="Email" name="email" id="email" required/>

                             </div>
                             <div class="form-group">
                                 <label for="password" class="pull-left"><i class="fas fa-unlock"></i>Password</label>
                                 <input type="password" v-model="password" class="form-control" placeholder="Password" name="password" id="password" required/>

                             </div>
                             <button type="submit" v-on:click="login" class="btn btn-success">Log In</button>
                     </div>
                 </div>


             </div>
             <div class="col-lg-3">

             </div>


         </div>

     </div>
</template>
<script>
    import firebase from 'firebase'
    export default {
      name: 'Login',
        data: function () {
          return {
              data:{
                  email: '',
                  password: ''
              }
              
          }

        },
        methods: {
          login: function () {
              firebase.auth().signInWithEmailAndPassword(this.email,this.password).then(response=>{
                  this.$router.replace('dashboard')
              },function (error) {
                  alert(""+error.message)
              })
          }
            
        }
    }
</script>
